docker-run-jdk6.sh filter=lfs diff=lfs merge=lfs -text
docker-run-jdk8.sh filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
docker-run.sh filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
mvnw filter=lfs diff=lfs merge=lfs -text
patch-android-src filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
docker-run-jdk7.sh filter=lfs diff=lfs merge=lfs -text
pom.yaml filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
mvnw.bat filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
pom.xml filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
